*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.Login-section{
    background-image: url(../src/images/login-bg-img.jpg);
    height: 100vh;
}
.header-section{
    padding: 10px;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 150px;
}
ul li{
  list-style-type: none;
}

/* Login form container */
.login-form {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 40px;
  border-radius: 4px;
  width: 480px;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  margin: 0 auto;
}

/* Inputs */
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 16px;
  border: none;
  outline: none;
  background: #333;
  color: white;
  font-size: 16px;
  border-radius: 4px;
}

/* Submit button */
.login-form .submit {
  width: 100%;
  padding: 14px;
  background-color: #e50914;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0px;
  transition: background-color 0.3s;
}

.login-form input[type="submit"]:hover {
  background-color: #f6121d;
}
.errMsg {
    color: #e50914;
    margin: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .login-form {
    width: 85%;
    padding: 40px 30px;
  }
}
.menu-block ul li{
 display: inline-block;
 color: #fff;
 margin: 0 5px;
}
.header-left, .header-right{
    display: flex;
    align-items: center;
}
.signout-btn{
  margin-left: 10px;
  padding: 6px;
  color: #fff;
  background: #333135;
  border: 1px solid #000;
}
.userIcon{
  width: 35px;
}